// resources/sass/app.scss

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
}

header {
    background-color: #343a40;
    color: #fff;
    padding: 1rem 0;
}

nav.navbar a {
    color: #fff;
    margin-right: 15px;
    text-decoration: none;
}

nav.navbar a:hover {
    color: #ccc;
}

footer {
    background-color: #f8f9fa;
    color: #333;
    text-align: center;
    padding: 1rem 0;
}

main {
    min-height: calc(100vh - 2 * (3.5rem + 1rem));
}